.App {
  text-align: center;
  max-width: 1000px;
 
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}


.App-header {
  grid-area: header;
  width: 100vw;
}

.main {
    width: 100vw;
    font-family: "Rubik", sans-serif;
    vertical-align: middle;
}

